@import"css/reset.css";
@import"css/normalize.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
	font: normal 14px "Open Sans", arial, Sans-serif;
	color: #999;
	background: #f1f1f1;

}

.wrap{
	width: 400px;
	margin: 0 auto;


}

.task-list{
	width: 88%;
	min-height: 300px;
	background: #fff;
	box-shadow: 2px 20px 0px #ddd;
	margin-top: 40px;
	padding: 22px 6px;
	height: 300px;
	-webkit-box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.3);
	box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.3);
	border: 1px solid lightblue;

}

.add-new-task{
	background-color: #f1f1f1;
	padding-top:10px; padding-right:0px; padding-bottom:10px; padding-left:0px;
}
.new-task{
	border: 1px solid lightblue;
}